html
    head
        title qwe
    body
        form(method='POST' action='/crop')
            input(type='file')
            input(type='number' name='width' placeholder='Ширина')
            input(type='number' name='height' placeholder='Высота')
            button Upload

