html
    head
        title qwe
        link(rel='stylesheet' href='/style.css')
    body
        form(method='POST' enctype='multipart/form-data' action='/crop')
            input(type='file' name='image' id='file-input')
            div#image-preview-wrapper
                img(src='#' id='image-preview')
            input(type='number' name='width' placeholder='Ширина')
            input(type='number' name='height' placeholder='Высота')
            button Upload
    script(src='/image-preload.js')

